In [79]:
import pandas as pd
import numpy as np
result_info = pd.read_table('Result_info.txt')
replicate_info=pd.read_table('res_repli.txt')
ctrl_info=pd.read_table('res_ctrl_path.txt')
test_info=pd.read_table('res_test.txt')
repli_in = []
ctrl_in=[]
test_in=[]
with open ('res_repli.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            repli_in.append(line.split('/')[-1][:-2])

with open ('res_ctrl_path.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            ctrl_in.append(line.split('/')[-1][:-2])

with open ('res_test.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            test_in.append(line.split('/')[-1][:-2])
repli_in
ctrl_in
test_in
a = repli_in + ctrl_in + test_in
Sample = {'sample_name': a}
Sample_dt=pd.DataFrame(Sample)
#Sample['Bool']

#for i in result_info['sample_name']:
 #   #print(i)
 #   a=list(Sample[0])
  #  if i in a :
  #      Sample['Bool'] = "True"
  #  else:
  #     Sample['Bool'] = "False"    
M=pd.merge(Sample_dt,result_info,how='outer')
#Sample['Bool'].value_counts
M.to_csv('Verification.csv',index=False)

In [25]:
import pandas as pd
import numpy as np 
res_name=[]
path=[]
with open ('exomiser.info') as exomiser_info:
    for line in exomiser_info:
        if "/" in line :
            res_name.append(line.split("/")[-1][:-18])
            path.append(line)
repli_in = []
ctrl_in=[]
test_in=[]
with open ('res_repli.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            repli_in.append(line.split('/')[-1][:-2])

with open ('res_ctrl_path.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            ctrl_in.append(line.split('/')[-1][:-2])

with open ('res_test.txt') as replicate_info:
    for line in replicate_info :
        if ":" in line :
            test_in.append(line.split('/')[-1][:-2])
repli_in
ctrl_in
test_in
a = repli_in + ctrl_in + test_in
Sample = {'sample_name': a}
Sample_dt=pd.DataFrame(Sample)

b = {'sample_name' : res_name ,'path' : path}
res_dt=pd.DataFrame(b)
Sample_dt
final=pd.merge(res_dt,Sample_dt,how= 'outer',on='sample_name')

In [41]:
final=final.fillna('None')
final

    sample_name                                               path
0           C59  /mnt/datashare/home/wangzesong/HAPE/MT/MT_DNA_...
1           P53  /mnt/datashare/home/wangzesong/HAPE/MT/MT_DNA_...
2           P36  /mnt/datashare/home/wangzesong/HAPE/MT/MT_DNA_...
3            R3  /mnt/datashare/home/wangzesong/HAPE/MT/MT_DNA_...
4           C27  /mnt/datashare/home/wangzesong/HAPE/MT/MT_DNA_...
..          ...                                                ...
106         C43                                               None
107         C44                                               None
108         C45                                               None
109         C46                                               None
110         C47                                               None

[111 rows x 2 columns]

In [42]:
final[final['path']=='None']

    sample_name  path
91          08H  None
92        08H-1  None
93           C1  None
94          C12  None
95          C13  None
96          C14  None
97          C15  None
98          C16  None
99          C17  None
100          C2  None
101         C39  None
102          C4  None
103         C40  None
104         C41  None
105         C42  None
106         C43  None
107         C44  None
108         C45  None
109         C46  None
110         C47  None